/* .slider-wrapper {
  width: 80%;
  margin: auto;
  padding: 40px 0;
}

.slide {
  background: #eee;
  padding: 100px 20px;
  text-align: center;
} */

.custom-dots {
  display: flex !important;
  justify-content: center;
  padding-top: 20px;
}

.custom-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #F9F9F9;
  border: "2px solid #E7E7E7";
  margin: 0 5px;
  transition: background 0.3s ease;
}

.custom-dot.active {
  background: #2E1B1A;
  border: "2px solid #E7E7E7"
}